# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dll

# Virtual environments
venv/
env/
.venv/
nl2sql/
Lib/
Scripts/
Include/
pip-selfcheck.json
PyTorch/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data files
vectors/
*.bin
*.index
*.pkl

# Large files
*.lib
*.pt
*.bin
*.zip

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
nl2sql/
Lib/
Scripts/
Include/

# Large files
*.dll
*.lib
*.bin
*.pth
*.pt

# Data files
vectors/
csvs/

# Python 3.11
Python-3.11.9/
Python-3.11.9.tgz

# custom test files
.env
read.txt
